.row-container {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;

    .user-name-column {
        background-color: rgba(128, 128, 128, 0.13);
        padding: 1rem;
    }

    .current-turn {
        border: 2px solid gold;
    }

    .username-banner-header {
        padding: 2rem 0;
    }
}
